<div class="mainMenu__options">

  <img class="album__cover" [src]="albums[1].coverImgSrc" alt="{{albums[1].title}}">
  <h2 class="album__title">{{albums[1].title}}</h2>
  <h4 class="album__artistName">{{albums[1].artist}}</h4>
  <div class="hDots">
    <span class="hDots__dot"></span>
    <span class="hDots__dot"></span>
    <span class="hDots__dot"></span>
  </div>

  <a class="menuOption">Add to playlist</a>
  <a class="menuOption">Show album</a>
  <a class="menuOption">Share with friends</a>

</div>
